# Spark
Play with different functionalities of spark (pyspark) in Jypyter notebook

In [5]:
import pandas as pd
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
spark = SparkSession.builder.appName("notebook").getOrCreate()

In [15]:
file_name="data/results.csv"
df = spark.read.options(header="true").csv(file_name)

In [16]:
# instead of dtypes
df.schema

StructType(List(StructField(date,StringType,true),StructField(home_team,StringType,true),StructField(away_team,StringType,true),StructField(home_score,StringType,true),StructField(away_score,StringType,true),StructField(tournament,StringType,true),StructField(city,StringType,true),StructField(country,StringType,true),StructField(neutral,StringType,true)))

In [18]:
df.show(4)

+----------+---------+---------+----------+----------+----------+-------+--------+-------+
|      date|home_team|away_team|home_score|away_score|tournament|   city| country|neutral|
+----------+---------+---------+----------+----------+----------+-------+--------+-------+
|1872-11-30| Scotland|  England|         0|         0|  Friendly|Glasgow|Scotland|  FALSE|
|1873-03-08|  England| Scotland|         4|         2|  Friendly| London| England|  FALSE|
|1874-03-07| Scotland|  England|         2|         1|  Friendly|Glasgow|Scotland|  FALSE|
|1875-03-06|  England| Scotland|         2|         2|  Friendly| London| England|  FALSE|
+----------+---------+---------+----------+----------+----------+-------+--------+-------+
only showing top 4 rows

In [19]:
cols = ['date', 'home_team', 'away_team', 'home_score', 'away_score']
df[cols].show(4)

+----------+---------+---------+----------+----------+
|      date|home_team|away_team|home_score|away_score|
+----------+---------+---------+----------+----------+
|1872-11-30| Scotland|  England|         0|         0|
|1873-03-08|  England| Scotland|         4|         2|
|1874-03-07| Scotland|  England|         2|         1|
|1875-03-06|  England| Scotland|         2|         2|
+----------+---------+---------+----------+----------+
only showing top 4 rows